/* المودال */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--light-bg);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}


/* الحقول داخل المودال */
.modal-input {
  margin-bottom: 15px;
}

.modal-input label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: var(--light-text);
}



.modal-input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.modal-input input:focus {
  border-color: var(--light-primary);
  outline: none;
}



.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: var(--light-primary);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--dark-primary);
}

/* نص الملاحظة */
.note {
  font-size: 14px;
  color: var(--light-text);
  margin-top: 20px;
}


