.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: var(--bg1-color);
  padding: 30px 40px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  font-family: "Jua", sans-serif;
}

.title {
  font-size: 28px;
  text-align: center;
  color: var(--text1-color);
  margin-bottom: 20px;
  font-family: "Jua", sans-serif;

}

.formLabel {
  display: block;
  margin-bottom: 5px;
  color: var(--text2-color);
  font-weight: bold;
  font-size: 16px;
  font-family: "Jua", sans-serif;

}

.formInput {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: "Jua", sans-serif;

}
.formInput:disabled{
  background-color: #969696;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addBtn {
  background-color: var(--bg2-color);
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin: 0 0 0 120px;
  font-family: "Jua", sans-serif;

}
.addBtn:focus{
  background-color: var(--bg2h-color);
}

.cancelBtn {
  background-color: var(--bg3-color);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 80px 0 0 ;
  font-family: "Jua", sans-serif;

}

.cancelBtn:focus{
  background-color: var(--bg3h-color);
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
