/* RoleSelection.module.css */

.container {
    width: 100%;
    height: 100vh;
    background-color: #fffafa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('/images/background.webp') no-repeat center center/cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 3;
    width: 150px; /* التحكم في حجم الشعار */
    height: auto;
  }

  .title {
    position: absolute;
    top: 100px;
    left: 620px;
    z-index: 3;
    font-size: 36px;
    color: white;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rolesContainer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 200px;
  }
  
  .card {
    width: 275px;
    height: 370px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .whiteCard {
    background: white;
    color: black;
  }
  
  .blackCard {
    background: black;
    color: white;
  }
  
  .languageFooter {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 4;
    right: 20px;
    bottom: 10px;
    position: absolute;
  
  }
  
  .languageButton {
    background: none;
    border: none;
    color: var(--text1-color);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .languageButton:hover {
    color: var(--text1h-color);
  }
  
  .languageButton.active {
    color: var(--text2-color);
    font-weight: bold;
  }